body{
    background-color: #00234a;
}

#navBar{
    background: #99e22a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloNav{
    font-family: 'Atomic Age';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 29px;
    text-align: center;
    color: #fff;
}
.col1Nav{
    color:#00234a;
}

.TextoInicio{
    font-family: 'BentonSans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #00234a;
}

#formularioInicio{
    width: 319px;
    height: 553px;
    background: #FFF;
    border-radius: 10px;
}

.Centrar{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}


html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.div2{
    flex: 1;
}

.inputInicio{
    width: 288px;
    height: 57px;
    background: #E6E6E6;
    border-radius: 15px;
    border: 0;
}

.inputInicio:focus{
    outline: none;
}

::placeholder {
    text-align: center;
}

.buttonInicio{
    width: 253px;
    height: 57px;
    background: #8fdc56;
    border-radius: 15px;
    color: #00234a;
    border: none;
}

#links a {
    text-decoration: none;
}

.CentrarBotonesInicio{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.formularioGrupo-incorrecto .formulario_input:focus{
    border: 3px solid #FF0000;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formularioGrupo-correcto .formulario_input{
    border: 3px solid #29ce00;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formulario_input {
    width: 325px;
    height: 57px;
    background: #f5fcea;
    border-radius: 15px;
    border-width: 0px;
    line-height: 57px;
    margin-top: 10px;
    transition: .3s ease all;
    border: 3px solid   #E6E6E6;
    
}

.formulario_input:focus {
    border: 3px solid   #004FA8;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}