body{
    position: relative;
    
    overflow-x: scroll;
    
    background: linear-gradient(360deg, rgba(173, 255, 47, 0.84) 0%, #27AE7E 100%);
    background-attachment: fixed;
}

.logo{
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}

.marca-hermes{
    font-family: 'Atomic Age', cursive;
    display: flex;
    align-items: center;
    color: white;
}

.btn {
    color: white;
}

.navPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #27AE7E 100%;
}

.botonDesplegable{
    width: 60px;
}

.inputBusqueda{

    width: 1rem;
    padding: 10px;
    border-radius: 30px;

    margin: 20px!important;

    color: rgba(0, 0, 0, 0.3);

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.botonVer{
    width: 131px;
    height: 40px;
    background: rgba(172, 255, 47, 0.562);
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: 100px!important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#apartado-registro{
    display: flex;
    justify-content: space-evenly;
}

#apartado-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px;
    box-sizing: border-box;
}

.botonesCategorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 20px;
}

.centrarCard{   
    align-items: center;
    padding: 10px;
}

.contenedor-items{
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 20px;
    background-color: #f5fcea;
}

.mostrarGrid{
    display: grid;
}

.ocultar{
    display: none;
}

.list-group-item{
    background-color: transparent !important;
    color: white !important;
}

.carrito{
    padding-top: 30px;
}

.imgPerfil{
    width: 150px;
    height: 150px;
}

.portadaPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #adff2f;
    border: solid 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.datosPerfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 10px;
}

.itemDatosPerfil{
    margin-top: 10px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .alert.success {
    background-color: #04AA6D;
}

.img-logo{
    width: 128px;
    height: 128px;
}